extends layout

block content
  include common/category
  - let ticketListParams= newTicketListParams
  include common/ticket-list
  - ticketListParams= popularTicketListParams
  include common/ticket-list

